<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=product&option=form_add">Add product</a>
        </li>
        <li>
            <a href="index.php?menu=product&option=list_all">List products</a>
        </li>
    </ul>
</nav>
