<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=category&option=form_add">Add category</a>
        </li>
        <li>
            <a href="index.php?menu=category&option=list_all">List categories</a>
        </li>
        <li>
            <a href="index.php?menu=category&option=modify">Modify & Delete</a>
        </li>
    </ul>
</nav>

