<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=user&option=list_all">List Users</a>
        </li>
        <li>
            <a href="index.php?menu=user&option=add">Add User</a>
        </li>
        <li>
            <a href="index.php?menu=user&option=search">Search User</a>
        </li>
    </ul>
</nav>